<html>
<head><title>Video :D</title>
<link href="/css/css.css" rel="stylesheet" type="text/css"></head>
<link href="https://fonts.googleapis.com/css?family=Sniglet" rel="stylesheet">
<body>
  {{{ body }}}
  <script src ="../js/js.js"></script>
</body>
</html>
