<div id="cuboid">
	<form action="/myform" method="GET">
		<!-- #1 hover button -->
		<div>
			<p class="cuboid-text">Summoner Name</p>
		</div>
		<!-- #2 text input -->
		<div>
			<!-- Label to trigger #submit -->
			<label for="submit" class="submit-icon">
				<i class="fa fa-chevron-right"></i>
			</label>
			<input type="text" name="mytext" id="email" class="cuboid-text" placeholder="Your Summoner Name" autocomplete="off"/>
			<!-- hidden submit button -->
			<input type="submit" id="submit" />

		<!-- #4 success message -->
	</div>

	</form>
</div>

<svg xmlns="http://www.w3.org/2000/svg">
   <defs>
     <style type="text/css"><![CDATA[ .test{fill:#000;} ]]></style>
   </defs>
   <g></g>
<svg>



<script src ="js/js.js"></script>
